main {
    background-color: rgb(255, 255, 255);
    height: 750px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: auto;
}


.title {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(48, 48, 48);
}

.text-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.text-title {
    align-self: start;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(48, 48, 48);
}

#text {
    height: 7rem;
    width: 20rem;
    border: none;
    font-size: 15px;
    outline: 2px solid rgba(128, 128, 128, 0.623);
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 10px;
    border-radius: 0.5rem;
}

.voice-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.voice-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(36, 36, 36);
    align-self: start;
}

#voice {
    height: 3rem;
    width: 20rem;
    outline: 2px solid rgba(128, 128, 128, 0.623);
    border-radius: 0.4px;
    padding: 0px 10px;
}

.submit {
    background-color: rgba(92, 55, 225, 0.979);
    color: white;
    border-radius: 0.3rem;
    height: 3rem;
    width: 20rem;
    font-size: 1rem;
    border: none;
}